/* Estilos adicionales del juego */
body {
  background-color: #f8f9fa;
}
#screen-start, #screen-end {
  background-image: url('img/background.jpg'); /* imagen de fondo opcional */
  background-size: cover;
  color: #fff;
}
